@import "tailwindcss";

@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background: transparent !important;
  }
}
